<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Scipy</li>
<li>Numpy</li>
<li>Maplotlib</li>
</ol>

<table>
<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>Spyder</td>
</tr>
<tr>
<td>RStudio</td>
</tr>
<tr>
<td>Jupyter</td>
</tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [10]:
round(200/60,1)

3.3

<b>Objectives:<b>

- List of popular languages for Data Science
- List of libraries used by Data Scientists
- List of libraries used by Data Scientists

<h2>Author<h2>

Mohamed KADIRI